body{
  background-color: #FFF6DE;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  margin-left:200px;
  margin-right:150px;
  flex-grow: 1;
}
h1{
  font-family: 'MonteCarlo', cursive;
  text-align: center;
  font-size: 70px;
  background-color: #fbefd0;
  color: #081770;
  letter-spacing: 3px;
}
.navbar {
  margin: 10px;
  padding: 1px
   background-color: #fbefd0;
}
.nav-link{
  font-family: 'Luxurious Roman', cursive;
  font-size: 25px;
  color: #848FA5;
   background-color: #fbefd0;
}
.nav-link:hover{
  color: #081770;
}
#img1{
  float: left;
  margin-right: 30px;
  margin-left: 100px
  margin-bottom: 10px;
  width: auto;
  height: 500px;
  object-fit: fill;
  border: 8px solid #800020;
  border-radius: 25px;
}
h2 {
  font-family: 'Luxurious Roman', cursive;
  font-weight: bold; 
  text-align: center;
  font-size: 35px;
  color: #081770;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}
h2::before,
h2::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #848FA5;
}
p {
  font-family: 'Luxurious Roman', cursive;
  font-size: 20px;
  color: black;
  margin-right: 20px;
}
#img2{
  float: right;
  margin-right: 30px;
  margin-left: 50px;
  margin-bottom: 8px;
  width: auto;
  height: 500px;
  object-fit: fill;
  border: 8px solid #800020;
  border-radius: 100px;
  
}
footer{
  background-color: #fbefd0;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #081770;
  font-weight: bold;
  font-family: 'Luxurious Roman', cursive;
  font-size: 20px;
  letter-spacing: 3px;
}
.logo{
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
h4{
  font-family: 'MonteCarlo', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  color: #848FA5;
  margin: 20px 0 10px 0;
}
h5{
  font-family: 'MonteCarlo', cursive;
  text-align: center;
  font-size: 30px;
  color: #848FA5;
  margin: 10px 0;
}
.separator{
  border-bottom: 2px solid #848FA5;
  width: 100%;
  margin: 300px 0 20px 0;
}
